# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=finova

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
JWT_EXPIRES_IN=15m

# App
PORT=3000
NODE_ENV=development
SALT=10

# AI
GROQ_API_KEY=

# Redis
REDIS_URL=